webid@jolocom.com
WebID Password Reset

We have received a request to reset the password for your WebID $user.webid ${newline}
Your recovery code is $user.recoverycode. ${newline}
${newline}
Please follow the instructions at the following URL to set a new password for your WebID! ${newline}
https://littlesister.jolocom.com/#/change-password/${user.username}/${user.recoverycode}${newline}

