webid@jolocom.com
WebID Password Reset

We have received a request to reset the password for your WebID $user.webid ${newline}
Your recovery code is $user.recoverycode. ${newline}
${newline}
Please follow the instructions at ??? to set a new password for your WebID! ${newline}
