<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5" metadata-complete="true">

	<absolute-ordering />

	<display-name>webid-proxy</display-name>

	<!-- SERVLETS -->

	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.jolocom.webidproxy.RegisterServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>VerifyEmailServlet</servlet-name>
		<servlet-class>com.jolocom.webidproxy.VerifyEmailServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>VerifyEmailServlet</servlet-name>
		<url-pattern>/verifyemail</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.jolocom.webidproxy.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.jolocom.webidproxy.LogoutServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ForgotPasswordServlet</servlet-name>
		<servlet-class>com.jolocom.webidproxy.ForgotPasswordServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ForgotPasswordServlet</servlet-name>
		<url-pattern>/forgotpassword</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ResetPasswordServlet</servlet-name>
		<servlet-class>com.jolocom.webidproxy.ResetPasswordServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ResetPasswordServlet</servlet-name>
		<url-pattern>/resetpassword</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ExportKeyServlet</servlet-name>
		<servlet-class>com.jolocom.webidproxy.ExportKeyServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ExportKeyServlet</servlet-name>
		<url-pattern>/exportkey</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ImportKeyServlet</servlet-name>
		<servlet-class>com.jolocom.webidproxy.ImportKeyServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ImportKeyServlet</servlet-name>
		<url-pattern>/importkey</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WebIDProxyServlet</servlet-name>
		<servlet-class>com.jolocom.webidproxy.WebIDProxyServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>WebIDProxyServlet</servlet-name>
		<url-pattern>/proxy/*</url-pattern>
		<url-pattern>/proxy/</url-pattern>
	</servlet-mapping>

	<!-- FILTER -->

	 <filter>
		<filter-name>ResponseLoggerFilter</filter-name>
		<filter-class>com.jolocom.webidproxy.logger.ResponseLoggerFilter</filter-class>
	 </filter>

	 <filter-mapping>
		<filter-name>ResponseLoggerFilter</filter-name>
		<url-pattern>/*</url-pattern>
	 </filter-mapping>

	<filter>
		<filter-name>init</filter-name>
		<filter-class>com.jolocom.webidproxy.websocket.WebSocketInitFilter</filter-class>
		<load-on-startup>1</load-on-startup>
	</filter>

</web-app>
